# Python & Ambição Virtual
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# IDE e Editores
.vscode/
.idea/
*.swp

# Variáveis de Ambiente e Segredos
.env
*.pem
*.key
credentials.json

# Sistema Operacional
.DS_Store
Thumbs.db
desktop.ini
